/* Your variables */
:root {
  --scale: 1.5;
  --s-5: calc(var(--s-4) / var(--scale));
  --s-4: calc(var(--s-3) / var(--scale));
  --s-3: calc(var(--s-2) / var(--scale));
  --s-2: calc(var(--s-1) / var(--scale));
  --s-1: calc(var(--s) / var(--scale));
  --s: 1rem;
  --s1: calc(var(--s) * var(--scale));
  --s2: calc(var(--s1) * var(--scale));
  --s3: calc(var(--s2) * var(--scale));
  --s4: calc(var(--s3) * var(--scale));
  --s5: calc(var(--s4) * var(--scale));
  --s6: calc(var(--s5) * var(--scale));
  --black: #000000;
  --dark-grey: #27313B;
  --grey: #54626F;
  --light-grey: #EEEEEE;
  --yellow: #FFFF00;
  --red: #CE2029;
  --blue: #1974D2;
  --green: #3CB371;
  --purple: #663399;
  --pink: #FE28A2;
  --orange: #FF8C00;
  --white: #FFFFFF;
  --ivory: #FFFFF0;
  --measure: 65ch;
  --large-measure: 90ch;
  line-height: var(--scale);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  /* Only supported on Chromium-based browsers and Safari */
  font-family: system-ui;
  background-color: var(--white);
  color: var(--dark-grey);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}